Battle time!
<form action="/names" method="post">
  <label for"p1name">Player 1 name:
  <input type="text" name="p1name"></label>

  <label for"p2name">Player 2 name:
  <input type="text" name="p2name"></label>
  <input type="submit" value="Submit names">
</form>